/* BackgroundImage.css */
/* .background-image {
  background-image: url('../image/head-d.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 140px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */