.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    /* Полупрозрачный белый фон */
    padding: 2rem;
    border-radius: 10px;
    /* Скругленные углы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Тень для глубины */
    z-index: 1000;
    width: 300px;
    /* Фиксированная ширина */
}

.modal h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
    /* Цвет заголовка */
    text-align: center;
    /* Центрирование заголовка */
}

.modal .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.modal .input-group label {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 0.5rem;
}

.modal .input-group input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.modal .error {
    color: red;
    margin-bottom: 1rem;
    text-align: center;
    /* Центрирование сообщения об ошибке */
}

.modal button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
}

.modal button:hover {
    background-color: #45a049;
    /* Темный оттенок для hover */
}

.modal .secondary-button {
    background-color: #ddd;
    color: #333;
    margin-top: 0.5rem;
}

.modal .secondary-button:hover {
    background-color: #ccc;
}